/* AddStudent.css */

.add-student-container {
    text-align: center;
    margin: 20px;
  }
  
  .dropzone {
    border: 2px dashed #cccccc;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 20px;
  }
  
  .dropzone p {
    margin: 0;
  }
  
  .dropzone.active {
    border-color: #007bff;
  }
  /* AddStudent.css */

.add-student-container.loading {
  filter: blur(5px);
} 

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.btnUpload{
  margin-top: 20px;
}
.loading-spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure it's on top of other elements */
}
